@using Microsoft.AspNetCore.Components.Web
@namespace EntTorgMaster.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="EntTorgMaster.styles.css" rel="stylesheet" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">


      <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
      <link href="_content/Blazorise.Bootstrap5/blazorise.bootstrap5.css" rel="stylesheet" />
      <link href="_content/Blazorise.TreeView/blazorise.treeview.css" rel="stylesheet" />
      
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Произошла ошибка, перезагрузите страницу
        </environment>
        <environment include="Development">
            Ошибка, смотри dev tools
        </environment>
        <a href="" class="reload">Перезагрузить</a>
        <a class="dismiss">🗙</a>
    </div>
    
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/download-pdf.js"></script>
      <script src="js/js-interopt.js"></script>
</body>
</html>
