@page "/history/{eventTypeInt:int?}/{documentId:int?}"
@using System.Text.Json
@using EntTorgMaster.Helpers
@inherits OwningComponentBase

<h3>История</h3>

<Div Class="row">
    <Div Class="col-3">
        <ListGroup Mode="ListGroupMode.Selectable" SelectedItemChanged=@(e=>ChangeSelected(int.Parse(e)))>
            @foreach(var history in histories)
            {
                <ListGroupItem Name="@history.Id.ToString()">@history.User.Name - @history.Create.ToString("dd.MM.yy")</ListGroupItem>
            }
         </ListGroup>
    </Div>
    <Div Class="col-9">
        @switch (selectedHIstory?.EventType)
        {
            case HistoryEventType.Order:
                <HistoryOrderComponent Order=selectedAsOrder />
                break;
            case HistoryEventType.Arrival:
                <HistoryArrivalComponent Arrival=selectedArrival />
                break;
        }
    </Div>
</Div>

@code {
    [Inject]
    public IDbContextFactory<enttorgsnabContext> _dbFactory{ get; set; }

    [Parameter]
    public int? eventTypeInt{ get; set; }
    private HistoryEventType eventType;
    [Parameter]
    public int? documentId{ get; set; }

    private List<History> histories = new();
    private History selectedHIstory;
    private Order selectedAsOrder;
    private Arrival selectedArrival;

    protected override async Task OnInitializedAsync()
    {
        eventType = (HistoryEventType)eventTypeInt;
        using var db = _dbFactory.CreateDbContext();
        histories = await db.Histories.Include(h=>h.User)
            .Where(h => h.EventType == eventType & h.DocumentId == documentId).OrderByDescending(h=>h.Create).ToListAsync();
        await base.OnInitializedAsync();
    }

    private void ChangeSelected(int id)
    {
        var history=histories.Where(h => h.Id == id).FirstOrDefault();
        switch (history.EventType)
        {
            case HistoryEventType.Order:
                selectedAsOrder = JsonSerializer.Deserialize<Order>(history.Document);
                break;
            case HistoryEventType.Arrival:
                selectedArrival = JsonSerializer.Deserialize<Arrival>(history.Document);
                break;
        }
        selectedHIstory = history;
    }
}
