@page "/"
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<GoodSelector GoodSelected=@(new Good{Name="Товар"}) />
<GoodSelector />
<GoodSelector GoodSelected=@(new Good{Name="Товар"}) />
<GoodSelector />