@page "/login"
@inherits LoginModel

<div class="row">
    <div class="col-6 offset-md-3">
        <EditForm Model="@LoginDate" OnValidSubmit="LoginAync">
            <DataAnnotationsValidator/>
            <!--
            <InputText id="userName" @bind-Value="LoginDate.UserName"/>
            <InputText id="password" @bind-Value="LoginDate.Password"/>
            -->
             <div class="mb-3 row">
                <h3 class="col-sm-12">Вход в систему</h3>
              </div>
             <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Пользователь</label>
                <div class="col-sm-10">
                  <input id="password" @bind-value="LoginDate.UserName" class="form-corol form-control-sm" />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Пароль</label>
                <div class="col-sm-10">
                  <input id="password" @bind-value="LoginDate.Password" type="password" class="form-corol form-control-sm" />
                </div>
              </div>
            
            
            <p class="my-4">
                <button type="submit">Login</button>
            </p>
        </EditForm>
    </div>
</div>
