@using EntTorgMaster.Models

<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
    <!--
    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
      <img src="/img/fav-icon.svg"/>
      <span class="visually-hidden">Icon-only</span>
    </a>
    -->
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <AuthorizeView>
            <Authorized>
                @foreach(var menuItem in MenuItems)
                {
                    switch (menuItem.isActive)
                    {
                        case true:
                              <li class="nav-item">
                                <a href="@menuItem.Href" onclick=@(()=>SelectedChange.InvokeAsync(menuItem)) class="nav-link active py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="@menuItem.Title">
                                  <img src="/img/@(menuItem.ImgSrc)-primary.svg"/>
                                </a>
                              </li>
                            break;
                        case false:
                            <li>
                                <a href="@menuItem.Href" onclick=@(()=>SelectedChange.InvokeAsync(menuItem)) class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                                    <img src="/img/@(menuItem.ImgSrc).svg"  data-bs-toggle="tooltip" data-bs-placement="right" title="@menuItem.Title"/>
                                </a>
                            </li>
                            break;
                    }
                }
            </Authorized>
            <NotAuthorized>
                <li>
                    <a href="login" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <Icon Name=IconName.User />
                    </a>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
  </div>
@code{
    [Parameter]
    public List<NavMenuItem> MenuItems{ get; set; }
    [Parameter]
    public EventCallback<NavMenuItem> SelectedChange{ get; set; }
}